@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco_principal: #FFFFFF;
    --cinza_secundario: #C0C0C0;
    --botao_azul: #167BF7;
    --cor_de_fundo: #00030C;
    --font_primaria: font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--cor_de_fundo);
    color: var(--branco_principal);
    font-family: var(--font_primaria);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(./images/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    background-size: cover;
}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteiner__caixa {
    margin: 0 6em;
}

.conteiner__titulo {
    font-size: 28px;
}

.conteiner__imagem {
    padding: 1em 0 2em 0;
}

.conteiner__botao {
    padding: 1em;
    color: var(--branco_principal);
    background-color: var(--botao_azul);
    border-radius: 8px;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.conteiner__botao:hover {
    background-color: #3b92fc;
}

.conteiner__botao__dois {
    background-color: transparent;
    color: var(--branco_principal);
    border: 2px solid var(--branco_principal);
}

.conteiner__botao__dois:hover {
    background-color: #02081b;
}

.conteiner__aviso {
    font-size: 12px;
    color: var(--cinza_secundario);
}

.secundario {
    align-items: center;
}

.secundaria__imagem {
    width: auto;
    margin: 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco_principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza_secundario);
}

.secundario__botao {
    display: inline-block;
}

.conteiner__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
    margin: 5em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco_principal);
    padding-bottom: 1em;
}

.rodape {
    text-align: center;
    margin: 5em 3em; 
}

.conteiner__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link {
    color: var(--branco_principal);
    text-decoration: none;
    margin-left: 1em;
}

.conteiner__rodape_descricao {
    font-size: 14px;
    color: var(--cinza_secundario);
    margin: 1em 0;
}
.lista__link:hover {
    color: var(--botao_azul);
}

.lista__link:active {
    color: purple;
}

@media (max-width: 800px) {
    html, body {
        width: 100%;
        height: 100%;
        gap: 5rem;
    }

    .container, body, .principal, .secundario, .dispositivos__lista {
      display: flex;
      flex-direction: column;
    }

    .conteiner__lista {
        display: flex;
        flex-wrap: wrap;
    }
    
    .lista__item_footer {
        flex-basis: 50%;
    }

    .lista__dispositivos img {
        max-width: 100%;
        display: block;
    }
  
    .container__caixa {
      margin: 2em;
      height: 100%;
    }
  
    .conteiner__titulo {
      font-size: 1.5rem;
    }
  
    .container__botao {
      padding: 0.8em;
      font-size: 14px;
    }
  
    .container__botão__dois {
      font-size: 0.8rem;
    }
  
    .conteiner__aviso {
      font-size: 0.6rem;
    }
  
    .conteiner__imagem {
        width: 100%;
    }

    .icone__imagem {
        align-items: center;
        width: 100%;
    }

    .secundaria__imagem {
      margin: 3em;
      width: 50%;
    }
  
    .descricao__texto {
      font-size: 1rem;
    }
  
    .descricao__titulo {
      font-size: 2rem;
    }
  
    .rodape {
      margin: 2em 1em;
    }
  }